[user]
	name = raemadeline
	email = raemadeline@gmail.com
[push]
	default = current
[branch]
	autosetuprebase = always
[core]
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
	editor = vi
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
